/* this is the body of the box */
body{

    background-color: skyblue;
    border: rgb(29, 208, 29) solid 5px;
    box-sizing: border-box;
    height: fit-content;
    margin: 10%;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.913);
  

}
body nav a {
    color: rgb(29, 208, 29);
    font-size: 20px;
    font-weight: bold;
}

/* this is the header */

header > h2 {
    text-align: center;
    font-family: "Georgia", Times New Roman, Times, serif;
    font-weight: 300;
    color: white;
    font-size: 45px; 
    font-style: italic; 
    text-decoration-skip: none;
    padding-top: 10px;  
    padding-bottom: 10px;
}

/* this is where the navigation begins */

nav {
    text-align: center;
    font-weight: bold;
    padding-bottom: 22px;
}
header span {
    color:white;
    font-size: 20px;
} 

nav span + span{
    color: grey;
    font-size: 20px;
}

/* this is the float image */

img{
    height: 370px;
    width: 270px;
    margin-top: 8%;
    margin-right: 12%;
    float: right;
}

/* this is where the main section begins */
main{
    padding-left: 65px;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: 500;
}   

main > h1{
    font-size: 32px;
    color: white;
    padding-bottom: 20px;

} 

main section{
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}
/* this is where the footer starts*/

footer{
    padding-top: 30px;
    padding-bottom: 5px;
    margin-bottom: 5%;
}

footer span{
    color: gray;
}
